/* ADD YOUR CUSTOM CSS TO THIS FILE BELOW */
h1 {
color: #D5573B;
font-family: "Caveat", cursive;
font-weight: 400;
}

h2 {
color: #031D44;
font-family: "Caveat", cursive;
}

p {
color: #B8860B;
font-family: "Playwrite NZ Basic", cursive;
}

body {
background-image: url("images/back.jpg");
background-position: right;
}

li {
font-family: "Caveat", cursive;
}

header {
background-color: rgba(255,255,255,0.5);
padding: 20px;
border-radius: 12px;
}

.card {
background-color: rgba(255,255,255,0.6);
border-radius: 12px;
}

nav ul {
background-color: rgba(255,255,255,0.5);
padding: 10px;
border-radius: 10px;
}



